.filters .locations {
	height: 100%;
	width: 25%;
	border-right: solid 1px #DDDDDD;
	margin: auto;
}
.filters .amenities {
	height: 100%;
	width: 25%;
	margin: auto;
	margin-left: 0;
}
.filters h3 {
	font-weight: 600;
	margin-bottom: 0px;
}
.filters h4 {
	font-weight: 400;
	font-size: 14px;
	margin-top: 0px;
}
.popover {
	display: none;
	background-color: #FAFAFA;
	width: 300px;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	margin-left: 0%;
}
.popover h2 {
	font-size: 16px;
}
ul {
    list-style-type: none;
}
li {
    line-height: 1.6;
}
.locations:hover .popover, .amenities:hover .popover {
	display: block;
}
