.filters .locations {
	height: 100%;
	width: 25%;
	border-right: solid 1px #DDDDDD;
}
.filters .amenities {
	height: 100%;
	width: 25%;
	margin: auto;
	margin-left: 0;
}
h3 {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0px;
	margin-left: 68px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
	margin-left: 68px;
}
.popover {
	display: none;
    background-color: #FAFAFA;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.popover h2 {
	font-size: 16px;
}
ul {
    list-style-type: none;
}
li {
    line-height: 1.6;
}
.locations:hover .popover, .amenities:hover .popover {
	display: block;
}
